PKGNAME=lua
PKGVERSION=5.3.5
PKGREVISION=1
PKGDISTFILE=https://www.lua.org/ftp/lua-${PKGVERSION}.tar.gz
PKGDISTFILE_SUM_SHA512=4f9516acc4659dfd0a9e911bfa00c0788f0ad9348e5724fe8fb17aac59e9c0060a64378f82be86f8534e49c6c013e7488ad17321bafcc787831d3d67406bd0f4
PKGWORKSUBDIR=lua-${PKGVERSION}
PKG_PRE_BUILD_PATCHLIST="patch-src-Makefile patch-02-libedit patch-03-Makefile"
PKG_LICENCE="BSD"
PKG_MAKE_BUILD_FLAGS='freebsd'
